* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Adjust the background color if needed */
}

body {
  width: 100%;
}

.container {
  width: 100%;
  padding: 50px 20px; /* Add some padding around the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex ;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  color: #C73240;
}

.header h1{
  position: relative  ;
  top: 7px;
  left: 7px;
}

.login-card {
  width: 100%; /* Take the full container width */
  max-width: 400px; /* Set a max-width for larger screens */
  margin: 0 auto; /* Center the card */
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-top: 40px;
  width: 184px;
  height: 140px;
  margin-bottom: 100px; /* Adjust as per design */
}

.login-form {
  width: 100%;
}

.login-form input {
  color: #000000;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px; /* Increase margin-bottom for spacing */
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #ffffff; /* Light background for input */
}
.email-text{
  margin-left: 5px;
  color: #AE4031;
}

.login-form button {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #C73240; /* Adjust the button color as per design */
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 40px; /* Spacing above the button */
  margin-bottom: 20px; /* Spacing below the button */
}

.separator {
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  color: #C73240;
  font-size: 18px;
  font-weight: 1000;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  
}

.social-button {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 5px; /* Space between buttons */
  cursor: pointer;
  display: inline-flex; /* Align icons and text within the buttons */
  align-items: center;
  justify-content: center;
}

.forgot-password {

  color: #C7313F;
  text-align: center;
  text-decoration: none;
  position: relative;
  bottom: 15px;
  margin-left: 5px;
}

.register-link {
  text-align: center;
  color: #C73240;
  position: relative;
  bottom: 15px;
}

.register-link a {
  color: #C73240;
  text-decoration: none;
  font-size: 17px;
  font-weight: 1000;
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin: 20px;
}

.btn {
  color: #C7313F;
  margin-top: 10px;
  width: 100%;
  padding: 30px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  white-space: nowrap;
  position: relative;
  bottom: 15px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s ease-in-out;
}

