<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Profile</title>
    <link rel="stylesheet" href="edit-profile.component.scss" />
  </head>
  <body>
    <div class="header-container">
      <h1>Edit Profile</h1>
      <button (click)="cancel()"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/a52b32/multiply.png" alt="multiply"/></button>
    </div>

    <div class="content" *ngIf="!loadingPresent">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="cover-photo">
          <img
            [src]=" '../../../assets/cover.png'"
            alt="Cover Photo"
          />
        </div>
        <div class="profile">
          <img
            [src]=" '../../../assets/profile.jpg'"
            alt="Profile Picture"
            class="profile-pic"
          />
        </div>
        <div class="profile-details">
          <div class="detail">
            <span class="label">Name</span>
            <input formControlName="username" type="text" />
          </div>
          <div class="detail">
            <span class="label">Email</span>
            <input formControlName="email" type="email" />
          </div>
          <div class="detail">
            <span class="label">Location</span>
            <input formControlName="location" type="text" />
          </div>
          <div class="detail">
            <span class="label">Store Web Link</span>
            <input formControlName="storeWebLink" type="url" />
          </div>
          <div class="detail">
            <span class="label">Phone Number</span>
            <input formControlName="phoneNumber" type="tel" />
          </div>
          <div class="detail">
            <span class="label">Description</span>
            <textarea formControlName="description"></textarea>
          </div>
          <div class="detail">
            <span class="label">Social Media</span>
            <div class="social-media">
              <div class="social-item">
                <img
                  width="48"
                  height="48"
                  src="https://img.icons8.com/fluency/48/facebook-new.png"
                  alt="facebook-new"
                />
                <input formControlName="socialMediaFacebook" type="text" />
              </div>
              <div class="social-item">
                <img
                  width="48"
                  height="48"
                  src="https://img.icons8.com/fluency/48/telegram-app.png"
                  alt="telegram-app"
                />
                <input formControlName="socialMediaTelegram" type="text" />
              </div>
              <div class="social-item">
                <img
                  width="48"
                  height="48"
                  src="https://img.icons8.com/color/48/instagram-new--v1.png"
                  alt="instagram-new--v1"
                />
                <input formControlName="socialMediaInstagram" type="text" />
              </div>
            </div>
          </div>
        </div>
        <button class="save-button" type="submit">Save</button>
      </form>
    </div>
    <app-footer></app-footer>
  </body>
</html>
