<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="find-supplier.page.scss" />
  </head>
  <body>
    <app-header></app-header>
    <div class="content">
      <div class="search-container">
        <input type="text" placeholder="Search suppliers..." class="search-input" />
        <button class="search-button">Search</button>
    </div>
    
      <div class="suppliers-container">
        <div class="supplier-card">
          <img src="../../../assets/cover.png" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/cover.png" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/cover.png" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/cover.png" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/cover.png" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/profile.jpg" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/profile.jpg" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/profile.jpg" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/profile.jpg" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
        <div class="supplier-card">
          <img src="../../../assets/profile.jpg" alt="supplier logo" />
          <span class="supplier-name">DoDo Finger</span>
          <span class="location">Jerusalem, Palestine</span>
          <span class="view">View Profile</span>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
