<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="products.component.scss" />
</head>
<body>
  <app-header></app-header>
  <div class="content">
    <div class="products">
      <div class="category-header">
        <div class="category-start" *ngIf="!showProductDetails" (click)="back()">
          <ion-icon name="chevron-back"></ion-icon>
        </div>
        <div class="category-start" *ngIf="showProductDetails" (click)="dismissDetails()">
          <ion-icon name="chevron-back"></ion-icon>
        </div>
        <div class="category-name-container">
          <div class="category-name" *ngIf="!showProductDetails">{{categoryName}}</div>
          <div class="category-name product-name" *ngIf="showProductDetails">{{ selectedProduct?.productName }}</div>
        </div>
      </div>
      <div class="suppliers-container" *ngIf="!showProductDetails">
        <div class="supplier-card" *ngFor="let product of products" (click)="showDetails(product)">
          <img [src]="'../../../assets/profile.jpg'" alt="supplier logo" />
          <span class="supplier-name">{{ product.productName }}</span>
          <span>{{product.userName}}</span>
          <span class="view">View Details</span>
        </div>
      </div>
      <app-product-details class="child-details" *ngIf="showProductDetails" [product]="selectedProduct"></app-product-details>
    </div>
  </div>
  <app-footer></app-footer>
</body>
</html>
