@import url('https://fonts.googleapis.com/css?family=Jockey+One|Italiana&display=swap');

.choose-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: auto;
  background-color: white;
  position: fixed;
  z-index: 1000;
  margin-top: 6px;
}
button {
  background-color: white;
  color: rgb(0, 0, 0);
  width: 50%;
  font-size: 26px;
  display: block;
  padding: 20px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
button.active {
  border-bottom: 2px solid #c73240;
}
.mySwiper {
  width: 80%; // Adjust width as necessary
  height: 350px; // Set a fixed height for the swiper
  margin-top: 18%;
  padding-top: 10px;
  position: relative;

  .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; // Make sure the slide height matches the swiper container
  }

  img {
    border-radius: 30px;
    width: 100%; // Image will take the full width of the slide
    height: 100%; // Image height will match the slide height
    object-fit: cover; // Image will cover the area, and be clipped to fit
  }
}
h2 {
  font-size: 3em; // Large text for 'New'
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-family: 'Jockey One', sans-serif;
}
.collection-line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Jockey One', sans-serif;
  .line {
    display: flex;
    border: none;
    border-top: 2px solid #000000;
    flex: 0.2;
    align-items: center;
    margin: 0 0.5em;
  }

  span {
    font-size: 2em; // Large text for 'Collection'
    font-weight: bold;
  }
}
p {
  margin: 0;
  text-align: center;
  font-size: small;
  font-family: 'Italiana', serif;
  padding-bottom: 5px;
}

.posts-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px; /* Adjust to fit the design */
}

.post {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.supplier-avatar {
  width: 50px; /* Avatar size */
  height: 50px;
  border-radius: 50%; /* Circular avatar */
  margin-right: 10px;
}

.supplier-info {
  display: flex;
  flex-direction: column;
}

.supplier-name {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.post-timestamp {
  color: #666;
  font-size: 0.875rem;
  margin-top: 5px;
}

.post-body {
  font-size: 1rem;
  line-height: 1.5;

  color: #333;
}
.post:last-child {
  margin-bottom: 0;
}
.verified{
  margin-left: 7px;
  position: relative;
  bottom: 14px;
}
.suppliers-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px;
  border-radius: 15px;
  margin-top: 22%;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35), 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.supplier-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 15px;
  margin: 10px;
}
.suppliers-container img{
  width: 150px;
  height: 150px;
  border-radius: 9px;
}
.supplier-name{
  font-size: 20px;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
}
.view{
  color: #C73240;
  cursor: pointer;
  font-size: 13px;
}

