body {
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.chats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 25px;
}

.initial {
  display: flex;
  gap: 9px;
}

.chat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  font-size: 15px;
  text-wrap: nowrap;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding-top: 10px;
  gap: 10px;
  text-wrap: nowrap;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.message {
  white-space: normal;
  word-break: normal;
  color: #6f6f6f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-right: 5px;
  max-width: 80vw;
  max-height: 40px;
  overflow: hidden;
}

.time {
  color: #9e9e9e;
}

/* New chat input styles */
.add-chat-container {
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-top: 2px solid #ddd;
}

.input-field {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #a52b32;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.fab-button img{
  margin-left: 0 !important;
  width: 30px;
  height: 30px;
}

.fab-container {
  position: fixed;
  right: 10px;
  bottom: 85px;
}

.fab-button {
  background-color: #a52b32;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 85vh;
  width: 46vh;
  margin-top: 50px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background-color: white;
  border: none;
  padding: 10px;
  color: #a52b32;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #a52b32;
    font-size: large;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.no-chats-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #1b1065;
}

.no-chat-tag {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3vh;
}

.create-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  color: #ff4f01;
}
