<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="chat.component.scss" />
</head>
<body>
  <app-header></app-header>
  <div class="content">
    <div class="chats-container">
      <div class="chat-card" *ngFor="let chatPartner of chatPartners" (click)="openConversation(chatPartner)">
        <div class="initial">
          <img [src]="chatPartner.picUrl ? chatPartner.picUrl : 'assets/profile.jpg'" alt="image" />
          <div class="info">
            <span class="name">{{ chatPartner.name }}</span>
            <span class="message">...</span>
          </div>
        </div>
        <span class="time">19:40</span>
      </div>
    </div>
  </div>
  <div class="fab-container">
    <button class="fab-button" (click)="newChat()">
      <img width="15" height="15" src="https://img.icons8.com/ios-glyphs/30/ffffff/plus-math.png" alt="plus-math"/>
    </button>
  </div>
  
  <div class="modal" [class.show]="open_new_chat">
    <div class="modal-content">
      <header class="modal-header">
        <h2>New Chat</h2>
        <button class="modal-close" (click)="cancel()">Cancel</button>
      </header>
      <div class="contacts">
        <div class="contact-item" *ngFor="let item of contacts" (click)="startChat(item.username)">
          <img [src]="item.profilePic ? item.profilePic : 'assets/profile.jpg'" alt="{{item.username}}">
          <span>{{item.username}}</span>
        </div>
        <div class="no-chats-wrapper" *ngIf="contacts.length < 1">
          <h1 class="no-chat-tag">No contacts found.</h1>
          <h4 *ngIf="!isSupplier">
            It seems like you have not added any supplier yet, please add
            1 supplier at least to be able to contact them
          </h4>
          <h4 *ngIf="isSupplier">
            It seems like you have not added any merchant yet, please add
            1 merchant at least to be able to contact them
          </h4>
          <div class="create-chat" (click)="navigateToAddSupplier()">
            <img src="search-icon.png" alt="Find suppliers"/>
            Find suppliers
          </div>
        </div>
      </div>
    </div>
  </div>  
  <app-footer></app-footer>
</body>
</html>
