.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 3px solid #a4a4a4;
    padding-top: 55px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-size: small;
    letter-spacing: 2px;
    color: #722930;
}
.header-logo span {
    position: relative;
    top: 8px;
}

.header-icons{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

