<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="profile.component.scss" />
  </head>
  <body>
    <app-header></app-header>
    <div class="content">
      <div class="card">
        <div class="cover-photo">
          <img src="../../../assets/cover.png" alt="Cover Photo" />
        </div>
        <div class="profile">
          <img
            src="../../../assets//profile.jpg"
            alt="Profile Picture"
            class="profile-pic"
          />
        </div>
        <div class="profile-initial">
          <h2>Khaled abu finger</h2>
          <button class="add-button">add</button>
        </div>
        <div class="profile-info">
          <div class="info">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/ios-glyphs/24/C7313F/phone--v1.png"
              alt="phone--v1"
            />
            <span style="color: #c7313f">02-2330034</span>
          </div>
          <div class="info">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/material-sharp/24/C7313F/filled-message.png"
              alt="filled-message"
            />
            <span style="color: #c7313f">beauty.fasion22$gmaail.com</span>
          </div>
          <div class="info">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/ios/24/C7313F/domain--v1.png"
              alt="domain--v1"
            />
            <span style="color: #c7313f">www.beauty-fasion.com</span>
          </div>
          <div class="info">
            <img
              width="24"
              height="24"
              src="https://img.icons8.com/ios-filled/24/C7313F/marker.png"
              alt="marker"
            />
            <span style="color: #c7313f">Jerusalem, Al-Zahra'a street</span>
          </div>
        </div>
        <div class="description">
          <span>Description</span>
          <p>
            Experience the allure of Turkish fashion 🇹🇷 at Bonita, a prominent clothing brand based in thjladncljjlascnkdasj.cn;oj daj;knv;as ljdnalscn lajncslasndcl alsncilasmdc aldscnpikamdl dsoclnaipldsmc;e heart of Turkey. We curate fashion that exudes elegance and embraces contemporary trends, capturing the essence of sophistication and style. Explore our collection of meticulously crafted garments, each piece reflecting the beauty and grace that Turkish fashion embodies 🇹🇷🇹🇷.
          </p>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
