<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="order.component.scss" />
  </head>
  <body>
    <app-header></app-header>
    <div class="content">
    <h1>Orders</h1>
    <div class="order-container">
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
      <div class="order-card">
        <div class="order-details">
          <span class="date">28/10/2024</span>
          <span>price Quote 28/10/202</span>
          <a>View Details</a>
        </div>
        <div class="status">Supplier Answered</div>
      </div>
    </div>
  </div>
    <app-footer></app-footer>
  </body>
</html>
