<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="order.component.scss" />
  </head>
  <body>
    <app-header></app-header>
<div class="content">
  <h1>Orders</h1>
  <div class="order-container">
    <div *ngFor="let order of orders" class="order-card">
      <div class="order-details">
        <span class="date">{{ order.orderDate | date: 'dd/MM/yyyy' }}</span>
        <span>Price Quote {{ order.orderDate | date: 'dd/MM/yyyy' }}</span>
        <a (click)="viewDetails(order.orderId)">View Details</a>
      </div>
      <div class="status">{{ order.orderStatus }}</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
  </body>
</html>
