/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    /* Add more styles as needed */
  }
  
  app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    /* Add more styles as needed */
  }
  
  body, html {
    margin: 0;
    padding-top: [HeaderHeight]px; /* Replace [HeaderHeight] with the actual height of your header */
    padding-bottom: [FooterHeight]px; /* Replace [FooterHeight] with the actual height of your footer */
    overflow-x: hidden;
  }
  
  .content {
    /* Assuming .content wraps all the page content except header and footer */
    overflow-y: auto;
    height: 100vh;
    padding: 110px 0 70px; /* Adjust if necessary */
  }