.app-footer {
  background: #ffffff;
  padding: 10px 20px;
  position: fixed ;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(5, 1fr); /* Create columns that adjust based on content size */
  gap: 10px; /* Adjust the space between grid items */
  width: 100%; /* Ensure the wrapper takes full width */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-text {
  margin-top: 5px;
  font-size: 0.75rem;
  text-align: center;
}

@media (max-width: 768px) {
  .app-footer {
    padding: 10px 10px;
  }
  
  .icon-text {
    font-size: 0.7rem;
  }
}



.icon-container.active svg {
  fill: black;
}

.icon-container.active .icon-text {
  color: #C73240; /* Optional: Change text color for active state */
}
