<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="order-details.component.scss" />
</head>
<body>
    <app-header></app-header>
    <div class="content" *ngIf="!loadingPresent">
        <div class="shopping-cart">
            <h1>Price Quote {{ date | date: 'dd/MM/yyyy'}}</h1>
            <p class="products-count">Number Of Items: <span>{{ items.length }}</span></p>
            <div class="status">{{ status }}</div>
            <div class="cart-items">
                <div *ngFor="let item of items">
                    <div class="cart-item">
                        <img
                            src="../../../assets/random/1.webp"
                            alt="Product Image"
                        />
                        <div class="item-details">
                            <h2>{{ item.modelNumber }}</h2>
                            <p>Color: <span class="color">{{ item.colors.join(', ') }}</span></p>
                            <p>Sizes: <span class="color">{{ item.sizes.join(', ') }}</span></p>
                            <p>Number of Sets: <span class="quantity">{{ item.quantity }}</span></p>
                            <p>Pieces: <span class="pieces">{{ item.randomPieces }}</span></p>
                            <p>Total: <span class="pieces">$ {{ item.total.toFixed(2) }}</span> <span class="sub-price"> (price per Set is {{ item.pricePerUnit.toFixed(2) }})</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-summary">
                <p>Subtotal <span>$ {{ getSubtotal().toFixed(2) }}</span></p>
                <p>Tax <span>$ {{ getTax().toFixed(2) }}</span></p>
                <p class="total">Total <span>$ {{ getTotal().toFixed(2) }}</span></p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
